body {
    font-family: Arial;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 120px;
    font-size: 16px;
}

button {
    margin-top: 15px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
}
